
.orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px; /* Adjust the value for left padding */
    padding-right: 120px; /* Adjust the value for right padding */
  }
/* CustomTable.css */

.custom-table-container {
    overflow-x: auto;
  }
  
  .custom-table {

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0 20px; /* Add horizontal padding to the table */
  }
  
  .custom-table th {
    background-color: rgb(255, 255, 255); /* Change header color to white */
    text-align: left; /* Position header text to the left */
    border-top: none; /* Remove the top line in the header row */
    color: rgb(110, 110, 110); /* Change header text color to black */
    font-weight: normal; /* Set font weight to normal */
    padding-bottom: 10px; /* Add bottom padding to the header text */
    position: relative; /* Set position to relative for pseudo-element */
    height: 60px; 
  }
  
  .custom-table th::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: grey; /* Color of the line below the header */
  }
  
  .custom-table td {
    border-top: 1px grey; /* Change the border color to grey */
    border-bottom: 1px solid grey; /* Change the border color to grey */
    padding: 8px;
    color: grey; /* Change text color to grey */
    font-weight: normal; /* Set font weight to normal */
    height: 60px; /* Increase the row height by 88 pixels */
  }
  
  .table-image {
    max-width: 100px; /* Adjust the width as needed */
  }
  
  .hover-button {
    display: none; /* Hide the existing button */
  }
  
  .view-products-row {
    background-color: #f2f2f2; /* Background color for the "View Products" row */
    color: #333; /* Text color for the "View Products" row */
    font-weight: bold; /* Bold font for the "View Products" row */
  }
  
  .forward-icon {
    margin-left: 5px; /* Add some space between the text and icon */
  }

  .space{
    height: 25px;
  }

  /* BlackButton.css */

/* Base styles for the black button */
.black-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

/* Styles for the hover effect */
.black-button:hover {
  background-color: grey;
}

  
  





